.lanches-child12 {
    position: absolute;
    top: 276px;
    left: 0;
    width: 42px;
    height: 42px;
  }
  .circle-xmark-solid-2-icon2 {
    position: absolute;
    top: 280px;
    left: 4px;
    width: 34px;
    height: 34px;
    object-fit: cover;
  }
  .lanches-child13,
  .lanches-child14 {
    position: absolute;
    top: 0;
    left: 53px;
    border-radius: var(--br-3xs);
    background-color: var(--linha);
    width: 171px;
    height: 318px;
  }
  .lanches-child14 {
    top: 26px;
    left: 58px;
    background-color: var(--color-darkslateblue);
    width: 161px;
    height: 30px;
  }
  .segunda-feira4 {
    position: absolute;
    top: 29px;
    left: 68px;
    color: var(--color-gainsboro);
  }
  .lanches-child15 {
    position: absolute;
    top: 136px;
    left: 58px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslateblue);
    width: 161px;
    height: 30px;
  }
  .quarta-feira4 {
    position: absolute;
    top: 139px;
    left: 76px;
    color: var(--color-gainsboro);
  }
  .lanches-child16 {
    position: absolute;
    top: 78px;
    left: 58px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslateblue);
    width: 161px;
    height: 30px;
  }
  .tera-feira4 {
    position: absolute;
    top: 81px;
    left: 84px;
    color: var(--color-gainsboro);
  }
  .lanches-child17 {
    position: absolute;
    top: 194px;
    left: 58px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslateblue);
    width: 161px;
    height: 30px;
  }
  .quinta-feira4 {
    position: absolute;
    top: 197px;
    left: 79px;
    color: var(--color-gainsboro);
  }
  .lanches-child18 {
    position: absolute;
    top: 252px;
    left: 58px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslateblue);
    width: 161px;
    height: 30px;
  }
  .sexta-feira4 {
    position: absolute;
    top: 255px;
    left: 84px;
    color: var(--color-gainsboro);
  }
  .lanches5 {
    position: absolute;
    top: 2px;
    left: 90px;
  }
  .b20,
  .b21,
  .b22,
  .b23,
  .b24 {
    position: absolute;
    top: 56px;
    left: 63px;
  }
  .b21,
  .b22,
  .b23,
  .b24 {
    top: 110px;
  }
  .b22,
  .b23,
  .b24 {
    top: 168px;
  }
  .b23,
  .b24 {
    top: 226px;
  }
  .b24 {
    top: 284px;
  }
  .lanches4 {
    position: relative;
    width: 224px;
    height: 318px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  